
version: '3.8'

services:
  nexus-hub:
    image: nexus_home_hub:latest
    container_name: nexus_home_hub
    ports:
      - "8080:80"
    restart: unless-stopped
    volumes:
      # MONTA UNA CARPETA DE CONFIGS:
      # En tu Ubuntu, crea una carpeta llamada 'nexus_configs' al lado del docker-compose.
      # Dentro puedes poner: config_juanmi.json, config_noemi.json y config.json.
      # La aplicación detectará automáticamente el archivo que corresponda al usuario logueado.
      - ./nexus_configs:/usr/share/nginx/html/:ro
    environment:
      - NODE_ENV=production
      - API_KEY=${GEMINI_API_KEY}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
